# EditorConfig
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

# Rust
[*.rs]
indent_style = space
indent_size = 4

# YAML (GitHub Actions, Dependabot, etc.)
[*.yml]
indent_style = space
indent_size = 4

[*.yaml]
indent_style = space
indent_size = 4

# TOML (Cargo.toml)
[*.toml]
indent_style = space
indent_size = 4

# Markdown
[*.md]
trim_trailing_whitespace = false
